/*Reset ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.card {
    margin: 0;
    padding: 0;
}
/*Header +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.modNavbar{
    width: 100%;
}
.flexNavbar{
    display: flex;
    flex-wrap: wrap;
}
.navbarCenter{
    display: flex;
    flex-wrap: wrap;
}
/*Inscription Form +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.birthForm {
    margin-left: 15px;
}
/*@media (min-width: 769px) {
body +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
body {
    background-color: #1c1918;
    color:#1c1918;
    font-family: "Roboto", sans-serif;
    height:auto;
    margin:0; 
    padding:0;
   
}

  
/*couleur de fond de saisissez un mot cle++++++++++++++++++++++*/
.colortop{
    background-color:#8fa5af;
}
.couleursousmenu{
    background-color: #1c1918;
}
/*couleur de texte blanc+++++++++++++++++++++++++++++++++++++++++++++++*/
.blanc{
    color:#fff;
    font-family: "Roboto", sans-serif;
    height:auto;
    opacity:1;
}
/*couleur des liens gris+++++++++++++++++++++++++++++++++++++++++++++++*/ 
a:link{color: rgba(0,0,0,.5);}
a:link:visited{color:  #fff;}
a:link:active{color:  #fff;}
a:link:hover{color:  #fff;}

/*marge de presentation++++++++++++++++++++++*/
.petitemarge{
    padding-right:5px;
    padding-left:5px;
 }
/*les li sur une seule ligne++++++++++++++++++++++*/

li {
    display : inline;
}
/*les ul sur une seule ligne++++++++++++++++++++++*/
ul {
    display : inline;
}
/*taille de l'image arriere plan dans la view indexview+++++++++++++++++++++++++++++*/
.someClass { 
    background: url(src/Public/images/mains.jpg) no-repeat center center /*fixed*/; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width:100%;
    opacity:0.50;
    filter:alpha(opacity=20);
  }
/*taille de alert welcome+++++++++++++++++++++++++++++*/
.hauteurclass{
    height:100%;
}
/*polygon footer +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.polygon-footer {
    background-color: #FFFFE0;
    color:#1c1918; 
    -webkit-clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 13%, 100% 0, 100% 100%, 0% 100%);
    padding:auto;
}
/*polygon body +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.polygon-body {
    background-image: linear-gradient(#0c4c8c,black);
    color:#d1dfed; 
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
    padding:auto;
}
/*triangle en forme d'aile de libellule en dessous des titres ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.triangle-code-chip{
    display : inline-block;
    height : 0;
    width : 0;
    border-radius: 3%;
    border-right : 150px solid #FFFFE0;
    border-bottom : 50px solid transparent;
   }   
/*lien sous les intitules de la  nav bar ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*pas de surligne sous le logo++++++++++++++++++++++*/
.header-nav a, .accueillogo a {
    text-decoration: none;
    }
/*place de la nav bar++++++++++++++++++++++*/
    nav ul li
    {
     margin:0 2px; 
     font-size: 1em;
     display: inline-block;
    }
    nav ul li a
    {
     margin:0 2px; 
     font-size: 1em;
     display: inline-block;
     line-height: 13px;
    }
/*taille des caracteres++++++++++++++++++++++*/
.taille13{
    font-size: 1em;
    display: inline-block;
    }
/* le formualire de recherche sur une seule ligne++++++++++++++++++++++*/
form{
    white-space: nowrap;
}
/*marge de droite pour la recherche++++++++++++++++++++++*/
.marge{
    padding-right:40px;
 }
.pasmarge{
     margin:0 0;
     padding: 0 0;
 }
/*position de la navbar ++++++++++++++++++++++*/
 navbar{
    position: relative;
    z-index: 1;
    height:100px;
}
/*position image logo ++++++++++++++++++++++*/
#logo{
    position: relative;
    z-index: 2;
    /* top: 2em;*/
    }
#alogo{
    text-decoration:none;
}    
/*barre bleue au survol ++++++++++++++++++++++*/
a:hover {
    text-decoration: underline;
    border-bottom: 3px solid #8fa5af;
    }
/*menu du bas +++++++++++++++ */

/*les 3 navbar +++++++++++++ */

.navbarfooter, .navbarfooter2 {
    margin:5px;
    padding-top:10px;
    display: inline-block;
    text-align: center;
    position: inherit;
    vertical-align: top;
    list-style: none;
  
}
/*1ernavbar +++++++++++++ */
.navbarfooter ul li a{
    display: inline;
    text-decoration: none;
    color: #8fa5af;
    font-size: 0.9375em;
    margin:0 2px;
    padding:0 2px;
    
}
.navbarfooter ul li a:hover{
    display: inline;
    text-decoration: none;
    border-bottom: 3px solid #8fa5af;
    font-size: 0.9375em;
   
}

/*2ndenavbar +++++++++++++ */
.navbarfooter2 ul li a{
    display: inline;
    text-decoration: none;
    color: #8fa5af;
    font-size: 0.9375em;
    margin:0 2px;
    padding:0 2px;
    text-align: center; /* centrer le texte */
}
.navbarfooter2 ul li{
    display: inline;
    margin: 0 5px;
    padding: 0 5px;
    border-left: 1px solid #1c1918;
    font-size: 0.9375em;
    
}

.navbarfooter2 ul li:first-child{
    border:none;
    font-size: 0.9375em;
  
}
.navbarfooter2 ul li:nth-child(2){
    border:none;
    font-size: 0.9375em;
  
}
/*couleur de fond de la nav bar ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.bg-navbar {
    background-color: #1c1918;
   }

  navbar{
      height: 100px;
  }
/*couleur des fonts de la nav bar ++++++++++++++++++++++++++ */
.navbar-light .navbar-brand {
    color: white;
   }
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: white;
}

  /*couleur de fond de al search form ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    background-color:#8fa5af;
}
/*couleur de fond du bouton de la recherche ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 
.btn-outline-success {
    color: #fff;
    background-color: #8fa5af;
    border-color: white;
}
 
.btn-outline-success:hover {
    color: rgb(148, 69, 69);
    background-color: #0c4c8c;
    border-color: white;
}
h1 {
    text-align: center;
}
 /*marge autour de la barre de recherche ++++++++++++++++++++++*/
#search{
    margin-left:5%;
    margin-right: 10%;
}
/*contact et votre compte décalé à droite ++++++++++++++++++++++*/
/*systeme de parallax ++++++++++++++++++++++*/
.parallax {
    /* The image used */
    /*background-image: url("img_parallax.jpg");*/

    /* Set a specific height */
    height: auto;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 /*marge entres les card ++++++++++++++++++++++*/
.card{
    margin :10%;  
}
 /* indexview +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 /*intro indexview haut de page +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 .MgHtBs{
    margin-top:5%;
    margin-bottom:5%;
} 
 /*alignement image vip et texte +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#contImgTxt
{   margin-top:10%;
    display: flex;
    justify-content: space-between; 
}
.element:nth-child(1)
{   order: 1;
    flex: 2;
    margin-right:5%;
}
.element:nth-child(2)
{
    order: 2;
    flex: 1;
    margin-left:5%;
}
.element1{
    display:none;
}
/*alignement des cards +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/*formulaire de contact +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.checkbox{width:50px}
.inline {
display: inline-block;
}
label {
min-width: 120px;
}
.titleprghp {
background:#555;
height: 46px;
color: fff;
font-size: 23px;
height: 46px;
line-height: 40px;
padding: 0 0 0 20px;
margin: 20px 0 20px;
}

 /*marges bas de page+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.margeshautetbas{
    margin-top:10%;
    margin-bottom:10%;
}
.alignement{
    display:inline;
    font-size:14px;
}
/*taille de l'image arriere plan dans la view indexview+++++++++++++++++++++++++++++*/
.someClassvannes { 
    background: url(src/Public/images/test.jpg) no-repeat center center ; 
    /*opacity:0.80;*/
  }
.someClassgauche, .someClassdroite{
background-color: #FFFFE0;
}
.element{
    opacity:1;
}
/*validation formulaire de contact indexview+++++++++++++++++++++++++++++*/
input:invalid {
    border: 2px dashed goldenrod;
}
input:valid {
    border: 1px solid black;
}
/*le non affichage du logo petit modele++++++++++++++++++++++++++++++++++++++++++*/
.alogoPt{
    display:none;
}
/*le non affichage du menu petit modele mobile +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/*debut mon test de sidebar toggle++++++++++++++++++++++++++++++++++++++++++*/
.Ptpolice{
font-size:0.762em;
}
.NmPolice{
font-size:1.000em;
}

/*debut de mon test ++++++++++++++++++++++++++++++++++++++++++*/


/*fin de mon test ++++++++++++++++++++++++++++++++++++++++++*/













/*affichage ecran@media (min-width: 1046px) and (max-width: 1300px) ++++++++++++++++++++++++++++*/
/*@media (min-width: 1046px) and (max-width: 1300px) {
body ++++++++++++++++++++++++++ */
@media (min-width: 1046px) and (max-width: 1300px) {
    body {
        background-color: #1c1918;
        color:grey;
        font-family: "Roboto", sans-serif;
        height:auto;
        font-size: 1em;
 }
#margemenu{
    display:block;
}
h4{
    font-size:1em;
    }
h3{
font-size:0.929em;
}
h1{
    font-size:1.375em;   
}
.noghost{
    display:none;
}
.ghost{
    display:block;
}
}

/* fin de @media (min-width: 1046px) and (max-width: 1300px)+++++++++++++++++++++++++++++*/







/*@media (min-width: 992px) and (max-width: 1046px)+++++++++ */
/*affichage ecran @media (min-width: 992px) and (max-width: 1046px)+++++++++++++++++++++++++++++ */
@media (min-width: 992px) and (max-width: 1046px) {
    body {
        background-color: #1c1918;
        color:grey;
        font-family: "Roboto", sans-serif;
        height:auto;
        font-size: 0.938em;
 }
    #margemenu{
    display:none;
    }
    .alogoPt{
     display:block;
    }
    .Imglogo{
    display:none;
    }
     }
    .card {  
     flex: 1;
     margin-left:10%;
    }
        
    h4{
        font-size:1em;
        }
    h3{
    font-size:0.929em;
    }
    h1{
        font-size:1.375em;   
    }

    /*affichage du menu petit modele petit toggle++++++++++++++++++++++++++++++++++++++++++*/

.noghost{
    display:none;
}
.ghost{
    display:block;
}

/* fin de @media (min-width: 992px) and (max-width: 1046px)+++++++++++++++++++++++++++++*/












/* @media (min-width: 769px) and (max-width: 991px)+++++++++ */
/*affichage ecran @media (min-width: 769px) and (max-width: 991px)+++++++++++++++++++++++++++++ */
@media (min-width: 769px) and (max-width: 991px) {
    body {
        background-color: #1c1918;
        color:grey;
        font-family: "Roboto", sans-serif;
        height:auto;
        font-size: 1.063em;
 }
h4{
    font-size:1em;
    }
h3{
font-size:0.929em;
}
h1{
    font-size:1.375em;   
}
/*affichage des elements du menu petit modele toggle++++++++++++++++++++++++++++++++++++++++++*/
/* carte vip et texte +++++++++++++++++++++++++++++*/
.element1
{
    display:block;
}
.element:nth-child(2)
{
    display:none;
}
/*affichage des logos du menu petit modele toggle++++++++++++++++++++++++++++++++++++++++++*/
.Imglogo{
    display:none;
}
.alogoPt{
    display:block;
}
/*affichage du menu petit modele petit toggle++++++++++++++++++++++++++++++++++++++++++*/

.noghost{
    display:block;
}
.ghost{
    display:none;
}
/* mise en place menu + logo+++++++++++++++++++++++++++++*/
 /*alignement image vip et texte +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 #contImgmenulogo
 {   margin-top:10%;
     display: flex;
     justify-content: space-between; 
 }
.elementptmenu:nth-child(1)
{   order: 1;
    flex: 2;
    margin-right:5%;
}
.elementptmenu:nth-child(2)
{
    order: 2;
    flex: 1;
}
#tt{
    display: inline-flex;
}

}/* fin de  @media (min-width: 769px) and (max-width: 991px)+++++++++++++++++++++++++++++*/

























/*affichage ecran mobile @media screen and (max-width:768px)+++++++++++++++++++++++++++++*/
/* debut de @media screen and (max-width:768px)+++++++++++++++++++++++++++++*/
@media screen and (max-width:991px) {
body {
        background-color: #1c1918;
        color:grey;
        font-family: "Roboto", sans-serif;
        height:auto;
        font-size: 1.063em;
 }
h4{
    font-size:1em;
    }
h3{
font-size:0.929em;
}
h1{
    font-size:1.375em;   
}
/*affichage des elements du menu petit modele toggle++++++++++++++++++++++++++++++++++++++++++*/
/* carte vip et texte +++++++++++++++++++++++++++++*/
.element1
{
    display:block;
}
.element:nth-child(2)
{
    display:none;
}
/*affichage des logos du menu petit modele toggle++++++++++++++++++++++++++++++++++++++++++*/
.Imglogo{
    display:none;
}
.alogoPt{
    display:block;
}
/*affichage du menu petit modele petit toggle++++++++++++++++++++++++++++++++++++++++++*/

.noghost{
    display:block;
}
.ghost{
    display:none;
}
/* mise en place menu + logo+++++++++++++++++++++++++++++*/
 /*alignement image vip et texte +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
 #contImgmenulogo
 {   margin-top:10%;
     display: flex;
     justify-content: space-between; 
 }
.elementptmenu:nth-child(1)
{   order: 1;
    flex: 2;
    margin-right:5%;
}
.elementptmenu:nth-child(2)
{
    order: 2;
    flex: 1;
    margin-left:50%;
}
#tt{
    display: inline-flex;
}


#footer{
    font-size:0.7em;
}
}/* fin de  @media screen and (max-width:768px)+++++++++++++++++++++++++++++*/
