/* Article en attente de validation ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.imgValidation {
    width: 20%;
}

.btnArticleAdmin{
    margin-top: 80px;
}

.validationArticle{
    margin-top: 150px;
}