/*Reset ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.card {
    margin: 0;
    padding: 0;
}

/*Inscription Form +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.birthForm {
    margin-left: 15px;
}

body {
    background-color: #1c1918;
    color:white;
    font-family: "Roboto", sans-serif;
}
